---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout title="My bookmarks - Stackverse">
  <div id="app" data-page="bookmarks"></div>
  <script src="../entries/bookmarks.tsx"></script>
</AppLayout>
