---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout title="My reports - Stackverse">
  <div id="app" data-page="reports"></div>
  <script src="../entries/reports.tsx"></script>
</AppLayout>
