---
import AppLayout from "../../layouts/AppLayout.astro";
---

<AppLayout title="Messages - Stackverse">
  <div id="app" data-page="admin-messages"></div>
  <script src="../../entries/admin-messages.tsx"></script>
</AppLayout>
