---
import AdminNavigation from "../../components/AdminNavigation";
import Messages from "../../components/admin/Messages";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Messages - Stackverse"><div class="sv-layout"><AdminNavigation client:load currentPath={Astro.url.pathname} /><section class="sv-content"><Messages client:load /></section></div></BaseLayout>
