---
import AppLayout from "../../layouts/AppLayout.astro";
---

<AppLayout title="Users - Stackverse">
  <div id="app" data-page="admin-users"></div>
  <script src="../../entries/admin-users.tsx"></script>
</AppLayout>
