---
import AdminNavigation from "../../components/AdminNavigation";
import Users from "../../components/admin/Users";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Users - Stackverse"><div class="sv-layout"><AdminNavigation client:load currentPath={Astro.url.pathname} /><section class="sv-content"><Users client:load /></section></div></BaseLayout>
