<?xml version="1.0" encoding="UTF-8"?>
<server description="Stackverse Open Liberty Java backend">
  <featureManager>
    <feature>servlet-6.0</feature>
    <feature>restfulWS-3.1</feature>
  </featureManager>

  <variable name="PORT" defaultValue="8080"/>
  <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${PORT}"/>

  <applicationManager autoExpand="true"/>
  <webApplication location="stackverse-open-liberty-java.war" contextRoot="/"/>
</server>
