APP_NAME="Stackverse Backend Laravel"
APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost:8080

PORT=8080

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=stackverse
DB_USER=stackverse
DB_PASSWORD=stackverse

OIDC_ISSUER_URI=http://localhost:8180/realms/stackverse
# OIDC_JWKS_URI=http://keycloak:8080/realms/stackverse/protocol/openid-connect/certs

LOG_CHANNEL=stackverse
LOG_LEVEL=info
LOG_FORMAT=json
OTEL_SDK_DISABLED=true

SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=sync
